.home-card {
  max-width: 500px;
  height: max-content;
  margin: 26px auto !important;
  /* padding: 1px; */
  z-index: 100;
  box-shadow: 10px solid red;
}

.name-heading {
  cursor: pointer;
}

.material-icons {
  cursor: pointer;
}

.delete-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2px;
}

.comment-container {
  padding: 3px;
}

.comment-author {
  font-weight: bold;
}
