/* container of profile */
.container {
  max-width: 550px;
  margin: 0px auto;
}

.profile-container {
  display: flex;
  justify-content: space-evenly;
  margin: 18px 0px;
  border-bottom: 1px solid grey;
  /* width: 1%; */
}

.profile-img {
  height: 160px;
  width: 160px;
  border-radius: 100%;
}

.profile-details {
  display: flex;
  justify-content: space-between;
  width: 108%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 30%;
  border-radius: 100px;
}
